<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript" src="/js/sd-admin.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">


  <!--<script type="text/javascript" src="./campos.js"></script>-->
  <title>Principal</title>
  <% include partials/head %>
</head>

<body id="page-top">

  <nav class="navbar" id="barra">
    <div class="col-md-1" style="width: 100px; background-color: #008FFF; border-radius: 3px">
      <a class="navbar-brand marca" href="/profile">CRESCO</a>
    </div>
    <form class="form-inline">

      <a href="/profile" class="emailBarra">
        <%= user.local.email %>
          <br>
      </a>
      <a href="/logout" class="btn btn-light btn-sm btn-logout">
        <i class="fa fa-sign-out-alt"></i>
        Cerrar Sesión
      </a>
    </form>
  </nav>

  <!--INICIO Dashboard-->
  <div id="wrapper">
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profile">
          <i class="fa fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-fw fa-folder"></i>
          <span>Configuración</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

          <a class="dropdown-item" href="#">
            <i class="fa fa-user-circle"></i> Cuenta</a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-key"></i> Cambiar contraseña</a>

          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="/logout">
            <span class="fa fa-sign-out-alt"></span> Cerrar sesión</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gusuario">
          <i class="fa fa-fw fa-users-cog"></i>
          <span>Gestión de usuarios</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/encuestas">
          <i class="fa fa-fw fa-table"></i>
          <span>Encuestas</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/reportes">
          <i class="fa fa-fw fa-chart-area"></i>
          <span>Reportes</span>
        </a>
      </li>
    </ul>

    <!--FIN Dashboard-->

    <!-- ENCUESTAS

  <div class="container">
    <div class="row">
      Formulario
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/agregar" method="POST">
              <div class="form-group">

                <h2 class="col-md-12 text-center mb-4">Almacenar nueva encuesta</h2>
                <input type="text" name="sucursal" placeholder="Escriba la sucursal" class="form-control mb-4">
                <input type="text" name="pregunta" placeholder="Escriba la pregunta" class="form-control mb-4">

                <h3 class="col-md-12 mb-3">Tipo de pregunta</h3>
                <div class="container text-center">
                  <div class="btn-group mb-4" role="group" aria-label="Basic example">
                    <input type="button" id="btn-Tipo1" class="btn btn-primary" name="tipo"  value="Selección Simple" >
                   <input type="button" id="btn-Tipo2" class="btn btn-info" name="tipo" value="Selección Múltiple" >

                  </div>
                </div>

                FIN ENCUESTAS 

               //<div id="main">
<input type="button" id="btAdd" value="Añadir Elemento" class="bt" />
<input type="button" id="btRemove" value="Eliminar Elemento" class="bt" />
<input type="button" id="btRemoveAll" value="Eliminar Todo" class="bt" /><br />
</div>//

                <div class="container">
                  <div class="row mb-3">

                    <h3 class="col-md-12 mb-3">Opciones</h3>
                    <input type="text" name="opc1" placeholder="Escriba la opción" class="form-control col-md-7">
                    <input type="number" name="cant1" data-toggle="tooltip" data-placement="top" title="Especifique la cantidad de usuarios que elijieron esta opción"
                      min="1" max="5" value="1" class="form-control col-md-3" style="left: 5px;">
                    <div id="main" class="col-md-2">
                      <button class="btn btn-success " type="button" id="btAdd" data-toggle="tooltip" data-placement="right" title="Añadir otra opción">+</button>
                    </div>

                  </div>
                </div>
                <div class="row">
                <button class="btn btn-success  col-md-6" type="button">Añadir pregunta</button>
                <button class="btn btn-warning btn-block col-md-6" type="submit">Guardar encuesta -></button>
              </div>
              </div>
            </form>

          </div>
        </div>
      </div>

      Lista-->
    <div id="content-wrapper" class="col-md-10 mb-3">

      <div class="card">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/profile">Dashboard</a>
          </li>
          <li class="breadcrumb-item active"> <i class="fa fa-fw fa-table"></i>Encuestas</li>
        </ol>
      </div>
      <div class="card mb-3" id="cuerpo">
        <div class="card-header">
          <h4>Encuestas</h4>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Título</th>
              <th>Opciones</th>
            </tr>
          </thead>

          <tbody>
            <% for(var i = 0; i < tasks.length; i++){ %>
              <tr>

                <td>
                  <%= i %>

                </td>
                <td>
                  <%= tasks[i].pregunta %>
                </td>
                <td>
                  <div class="container">


                    <a href="#" class="btn btn-primary" id="details" onclick="genera_tabla()">Detalles</a>
                </td>
              </tr>
              <% } %>
          </tbody>


        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#">Anterior</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>
          </ul>
        </nav>
        </div>
      </div>
    </div>



    <script>
      // seleccionamos el enlace 


      function genera_tabla() {
        // Obtener la referencia del elemento body

        var boton = document.getElementById("cuerpo");
        // Crea un elemento <table> y un elemento <tbody>
        var tabla = document.createElement("table");

        var h = '<div class="card mb-3" id="cuerpo"><table class="table table-bordered table-hover">';
        h += '<thead><tr><th>Código</th><th>Título</th><th>Opciones</th> </tr></thead><tbody><% for(var i = 0; i < tasks.length; i++){ %>';
        h += '<tr><td><%= i %></td><td><%= tasks[i].pregunta %></td><td><div class="container"><a href="#" class="btn btn-primary" id="details" onclick="genera_tabla()">Detalles</a></td>';
        h += '</tr><% } %></tbody></table>';
        h += '<nav aria-label="Page navigation example"><ul class="pagination justify-content-center"><li class="page-item">';
        h += '<a class="page-link" href="#">Anterior</a></li><li class="page-item"><a class="page-link" href="#">1</a></li>';
        h += '<li class="page-item"><a class="page-link" href="#">2</a></li> <li class="page-item"><a class="page-link" href="#">3</a></li>';
        h += ' <li class="page-item"><a class="page-link" href="#">4</a></li><li class="page-item"> <a class="page-link" href="#">5</a></li>';
        h += '<li class="page-item"><a class="page-link" href="#">6</a></li><li class="page-item"><a class="page-link" href="#">Siguiente</a></li> </ul></nav></div>';

        tabla.innerHTML = h;
        boton.appendChild(tabla);
      }
    </script>





</body>

</html>