<!DOCTYPE html>
<html lang="en">
<head>
	<title>encuestas</title>
    <% include partials/head %>
    
</head>
<body>

<div class="container">
                <h1>Encuestas</h1>

		<!--Lista-->
	<div class="col-md-7">

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
				  <th>Pregunta</th>
				  <th>Tipo</th>
				  <th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= task.pregunta %> <br>
						 <strong>Opciones:</strong> <br>
						<%= task.opc1 %> <br>
						<%= task.opc2 %> <br>
						<%= task.opc4 %>
					</td>
					<td>
						<%= task.tipo %>
					</td>
					<td>
						
						<div class="container">
							<input type="radio" name="graficType" value="bar" onclick="cargargrafico(this.value)"> Barra
							<br>
							<input type="radio" name="graficType" value="polarArea" onclick="cargargrafico(this.value)"> Área polar
							<br>
							<input type="radio" name="graficType" value="doughnut" onclick="cargargrafico(this.value)"> Dona
							<br>
							<input type="radio" name="graficType" value="pie" onclick="cargargrafico(this.value)"> Torta
							<br>
						</div>
						<a href="/eliminar/<%= task._id %>" class="btn btn-danger">Eliminar</a>
	
					</td>
				</tr>
			</tbody>
		</table>
			

		  <div class="chart-container" style="position: relative; left: 25%; height:20vh; width:50vw">
			<canvas id="myChart"></canvas>
		</div>
	</div>
</div>

</body>
</html>
